dj-database-url==0.5.0
Django==1.11.13
django-concurrency==1.4
djangorestframework==3.8.2
factory-boy==2.11.1
Faker==0.8.15
gunicorn==19.8.1
ipaddress==1.0.22
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
text-unidecode==1.2
whitenoise==3.3.1
